.title{
    font-size: 6vw;
    font-weight: 600;
    margin-left: 8vw;
    padding-top: 10vh;
    color: rgb(98, 163, 60);
}

.titleSupport{
    font-size: 4vw;
    font-weight: 600;
    margin-left: 8vw;
    color: rgb(233, 130, 89);
}

.subtitle{
    font-size: 2.3vw;
    font-weight: 500;
    margin-left: 8vw;
    max-width: 33vw;
    color: rgb(221, 193, 65);
}

@media only screen and (min-height: 1000px) {
    .title{
        padding-top: 5vh;
    }
}

@media only screen and (max-width: 992px) {
    .title{
        font-size: 10vw;
        max-width: 50vw;
        margin-left: 5vw;
        padding-top: 4vh;
        max-width: 70vw;
    }

    .titleSupport{
        font-size: 8vw;
        font-weight: 600;
        max-width: 80vw;
        margin-left: 5vw;
        padding-bottom: 1vh;
    }

    .subtitle{
        font-size: 5vw;
        font-weight: 500;
        margin-left: 5vw;
        max-width: 60vw;
    }
}

.sectionSize{
    height: 100%;
}

/* @media only screen and (min-height: 1300px) { */
    /* .sectionSize{ */
        /* min-height: 40vh; */
        /* max-height: 40vh; */
    /* } */
/* } */

.footer{
    font-size: 4vw;
    font-weight: 600;
    color: rgb(232, 238, 231);
    background-color: rgb(173, 28, 28);
    width: 100vw;
    padding-left: 8vw;
    bottom: 0vh;
    position: fixed;
}

@media only screen and (max-width: 992px) {
    .footer{
        font-size: 6vw;
        max-width: 50vw;
        max-width: 100vw;
        padding-left: 5vw;
    }
}